.button-form {

height: 40px;
width: 110px;
background-color: blueviolet;
color: white;


}
.flightform {

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-bottom: 0px;

    
}

.select-form {

    width: 200px;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.sort-flights{

    display: block;
}

.table-flight{

   
   
   display: flex;
   justify-content: center;
   align-items: center;
   display: flex;
   font-size: 16px;
   padding-top: 30px;
   padding-bottom: 30px;
   

}

.td-voices{
    font-size: 20px;    
   padding-left: 12px;
   padding-right: 12px;

}

.button-20 {
  appearance: button;
  background-color: #4D4AE8;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
  border: 1px solid #4D4AE8;
  border-radius: 1rem;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,rgba(46, 54, 80, 0.075) 0 1px 1px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  padding: .5rem 1rem;
  text-align: center;
  text-transform: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 120px;
}

.button-20:focus:not(:focus-visible),
.button-20:focus {
  outline: 0;
}

.button-20:hover {
  background-color: #3733E5;
  border-color: #3733E5;
}

.button-20:focus {
  background-color: #413FC5;
  border-color: #3E3BBA;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.button-20:active {
  background-color: #3E3BBA;
  background-image: none;
  border-color: #3A38AE;
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
}

.button-20:active:focus {
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.button-20:disabled {
  background-image: none;
  box-shadow: none;
  opacity: .65;
  pointer-events: none;
}

@media screen and (max-width: 1090px) {
  .table-flight{

   
   
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 12px;
    padding-top: 15px;
    padding-bottom:15px;
    
  
  }

  .td-voices{
    font-size: 12px;    
   padding-left: 8px;
   padding-right: 8px;
  
  }
    }


@media screen and (max-width: 900px) {
  
  .button-20 {
    appearance: button;
    background-color: #4D4AE8;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
    border: 1px solid #4D4AE8;
    border-radius: 1rem;
    box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,rgba(46, 54, 80, 0.075) 0 1px 1px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,sans-serif;
    font-size: 10px;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
    padding: .5rem 1rem;
    text-align: center;
    text-transform: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 9  0px;
  }
  
  .flightform {

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-bottom: 0px;

    
}

.select-form {

  width: 100px;
  height: 30px;
  margin-left:  10px;
  margin-right: 10px;
}

.td-voices{
  font-size: 12px;    
 padding-left: 8px;
 padding-right: 8px;

}

.table-flight{

   
   
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 12px;
  padding-top: 15px;
  padding-bottom:15px;
  

}
  }


  @media screen and (max-width: 580px) {
  
    .button-20 {
      appearance: button;
      background-color: #4D4AE8;
      background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
      border: 1px solid #4D4AE8;
      border-radius: 0.5rem;
      box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,rgba(46, 54, 80, 0.075) 0 1px 1px;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      display: inline-block;
      font-family: Inter,sans-serif;
      font-size: 9px;
      font-weight: 500;
      line-height: 1.5;
      text-align: center;
      text-transform: none;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: middle;
      width: 50px;
      height: 35px;
      margin-left: 0px;
      margin-right: 0px;
      padding-right: 0px;
      padding-left: 0px;

    }
    
    .flightform {
  
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10px;
      margin-bottom: 0px;
  
      
  }
  
  .select-form {
  
    width: 80px;
    height: 30px;
    margin-left:  5px;
    margin-right: 5px;
  }
  
  .td-voices{
    font-size: 10px;    
   padding-left: 8px;
   padding-right: 8px;
  
  }
  
  .table-flight{
  
     
     
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 10px;
    padding-top: 10px;
    padding-bottom:10px;
    
  
  }
    }


      @media screen and (max-width: 430px) {
  
        .button-20 {
          appearance: button;
          background-color: #4D4AE8;
          background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
          border-radius: 0.5rem;
          box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,rgba(46, 54, 80, 0.075) 0 1px 1px;
          box-sizing: border-box;
          color: #FFFFFF;
          cursor: pointer;
          display: inline-block;
          font-family: Inter,sans-serif;
          font-size: 9px;
          font-weight: 500;
          line-height: 1.5;
          text-align: center;
          text-transform: none;
          transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;
          vertical-align: middle;
          width: 50px;
          height: 35px;
          margin-left: 0px;
          margin-right: 0px;
          padding-right: 0px;
          padding-left: 0px;
          padding-top: 0px;
          padding-bottom: 0px;
        }
        
        .flightform {
      
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 8px;
          margin-bottom: 0px;
          margin-top: 0px;
      
          
      }
      
      .select-form {
      
        width: 70px;
        height: 30px;
        margin-left:  2px;
        margin-right: 2px;
      }
      
      .td-voices{
        font-size: 10px;    
       padding-left: 5px;
       padding-right: 5px;
      
      }
      
      .table-flight{
      
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        padding-top: 10px;
        padding-bottom:10px;
        
      
      }
        }
    
        @media screen and (max-width: 340px) {
  
          .button-20 {
            appearance: button;
            background-color: #4D4AE8;
            background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
            border-radius: 0.5rem;
            box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,rgba(46, 54, 80, 0.075) 0 1px 1px;
            box-sizing: border-box;
            color: #FFFFFF;
            cursor: pointer;
            display: inline-block;
            font-family: Inter,sans-serif;
            font-size: 9px;
            font-weight: 500;
            line-height: 1.5;
            text-align: center;
            text-transform: none;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            vertical-align: middle;
            width: 50px;
            height: 30px;
            margin-left: 0px;
            margin-right: 0px;
            padding-right: 0px;
            padding-left: 0px;
            margin-top: 0px;
            margin-bottom: 0px;
          }
          
          .flightform {
        
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 8px;
            margin-bottom: 0px;
        
            
        }
        
        .select-form {
        
          width: 70px;
          height: 30px;
          margin-left:  1px;
          margin-right: 1px;
        }
        
        .td-voices{
          font-size: 7px;    
         padding-left: 5px;
         padding-right: 5px;
        
        }
        
        .table-flight{
    
          display: flex;
          font-size: 7px;
          padding-top: 10px;
          padding-bottom:10px;
        
        }
          }

          @media screen and (max-width: 290px) {
  
            .button-20 {
              appearance: button;
              background-color: #4D4AE8;
              background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
              border: 1px solid #4D4AE8;
              box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,rgba(46, 54, 80, 0.075) 0 1px 1px;
              box-sizing: border-box;
              color: #FFFFFF;
              cursor: pointer;
              display: inline-block;
              font-family: Inter,sans-serif;
              font-size: 9px;
              font-weight: 500;
              line-height: 1.5;
              text-align: center;
              text-transform: none;
              transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
              user-select: none;
              -webkit-user-select: none;
              touch-action: manipulation;
              vertical-align: middle;
              width: 50px;
              margin-left: 0;
              margin-right: 0;
              margin-top: 8px;
            }
            
            .flightform {
          
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 7px;
              margin-bottom: 0px;
          
              
          }
          
          .select-form {
          
            width: 70px;
            height: 30px;
            margin-left:  2px;
            margin-right: 2px;
          }
          
          .td-voices{
            font-size: 6px;    
           padding-left: 5px;
           padding-right: 5px;
        
          
          }
          
          .table-flight{
      
            display: flex;
            flex-direction: column;
            font-size: 6px;
            padding-top: 10px;
            padding-bottom:10px;
          
          
          }

      
            }